.form {
        background-color: $background-basic;
        display: flex;
        flex-direction: column;
        gap: $gap-mid;
        padding: $padding-mid $padding-large 40px $padding-large;
        border-radius: $border-radius-xs;
        box-shadow: $shadow-basic;

        &__heading {
            text-align: center;
        }

        &__input-section {
            display: flex;
        }
        
        &__input-group {
            display: grid;
            grid-template-columns: 1fr 2fr;
            row-gap: $gap-small;
            align-items: center;
        }

        &__input-id {
            border: none;
            outline: none;
        }

        &__input {
            outline: none;
            padding: $padding-xs $padding-small;
            border-radius: $border-radius-xs;
            border: $input-border;
            background-color: $input-background;
        }

        &__input:focus {
            border: $input-outline;
        }
    
        &__input::placeholder {
            font-weight: bold;
            color: rgb(151, 151, 151);
        }
    
        &__input-submit {
            color: white;
            background-color: $buttons;
            border: none;
        }

        &__input-submit:hover {
            cursor: pointer;
        }
    
        &__input-error {
            font-size: 12px;
            font-weight: bolder;
            color: $error-color;
        }
}

.input--task {
    flex: 1;
    border-radius: $border-radius-xs 0 0 $border-radius-xs;
}

.submit--add {
    padding: 8px $padding-large;
    border-radius: 0 $border-radius-xs $border-radius-xs 0;
}

.submit--edit {
    padding: 8px 0;
    border-radius: $border-radius-xs;
    text-align: center;
}



.edit-task--error {
    text-align: center;
}