.main {
    background-color: $background-main;
    display: grid;
    grid-template-columns: auto minmax(350px, 700px) auto;
    grid-template-areas: 
    ". main-wrapper ." ;
    
    &__wrapper {
        grid-area: main-wrapper;
        padding-top: $padding-xl;
        display: flex;
        flex-direction: column;
        gap: $gap-large;
    }

    &__return-button {
        text-decoration: none;
        text-align: center;
        box-shadow: $shadow-basic;
        background-color: rgb(35, 35, 35);
        color: white;
        padding: $padding-small 70px;
        border-radius: $border-radius-xs;
        align-self: center;
    }
}