.task {
    display: flex;
    align-items: center;
    padding: 0 $padding-large 0 $padding-mid;
    background-color: $background-basic;
    border-radius: $border-radius-xs;
    box-shadow: $shadow-basic;

    &__name {
        font-weight: lighter;
        overflow-wrap: break-word;
        max-width: 200px;
    }

    &__left {
        display: flex;
        flex: 1;
        align-items: center;
        gap: $gap-mid;
    }
    
    &__right {
        display: flex;
        align-items: center;
        gap: 14px;
    }
    
    &__icon-button {
        width: 16px;
        height: 16px;
    }
}

.first--task {
    box-shadow: $shadow-focused ;
}

.check--hidden {
    visibility: hidden;
}

.task--done {
    text-decoration: line-through;
}
