$shadow-basic: 0 0 10px 3px lightgrey;
$shadow-focused: 5px 10px 20px 3px rgb(112, 112, 112);
$border-radius-small: 5px;
$padding-small: 10px;
$padding-mid: 20px;
$padding-large: 50px;
$gap-small: 10px;
$gap-mid: 20px;
$gap-large: 50px;