* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100vh;
}

.body {
    display: grid;
    grid-template-columns: auto minmax(800px, 1200px) auto;
    grid-template-rows: 50px auto 250px;
    grid-template-areas: 
    "header header header"
    ". main ."
    "footer footer footer";
} 

.header {
    background-color: rgba(0, 0, 0, 0.765);
    grid-area: header;
    display: grid;
    grid-template-columns: auto minmax(800px, 1200px) auto;
    grid-template-areas:
    ". navigation .";
}

.navigation {
    display: grid;
}

.navigation--header {
    grid-area: navigation;
    grid-template-columns: 1fr 1fr;
}

.navigation__logo {
    height: 100%;
}

.navigation__list {
    padding-left: 0;
}

.header--list {
    display: grid;
    align-items: center;
    grid-template-columns: 5fr repeat(4, 1fr);
    grid-template-areas: 
    ". li1 li2 li3 li4";
}

.navigation__list-item {
    justify-self: end;
    list-style: none;
}

.list-item--position-one {
    grid-area: li1;
}

.list-item--position-two {
    grid-area: li2;
}

.list-item--position-three {
    grid-area: li3;
}

.list-item--position-four {
    grid-area: li4;
}

.navigation__list-item-link {
    text-decoration: none;
    color: white;
}

.main {
    grid-area: main;
}

.article {
    width: 100%;
}

.main__h1 {
    text-align: center;
    margin-top: 50px;
}

.section__heading {
    margin-top: 0;
    text-align: center;
}

.section__images-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.section__image-container {
    text-align: center;
}

.section__image {
    width: 100%;
}

.section__image-container-heading {
    margin-bottom: 0;
    text-transform: uppercase;
}

.section__span-paragraph {
    text-transform: uppercase;
    font-weight: bold;
}

.section--form {
    margin-top: 100px;
    display: grid;
    justify-items: center;
}

.section__form {
    display: grid;
    justify-items: center;
    gap: 20px;
    min-width: 600px;
}

.section__form-input,
.section__form-input-email {
    width: 100%;
    font-size: 1em;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
}

.section__form-checkbox-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-template-areas: 
    "flexbox-label gridbox-label"
    "flexbox-input gridbox-input";
}

.section__form-flexbox-label {
    grid-area: flexbox-label;
}

.section__form-flexbox-input{
    grid-area: flexbox-input;
}

.section__form-grid-label {
    grid-area: gridbox-label;
}

.section__form-grid-input {
    grid-area: gridbox-input;
}

.section__form-button {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.765);
}

.footer {
    display: grid;
    grid-template-columns: auto minmax(800px, 1200px) auto;
    grid-template-areas: 
    ". footerlayout .";
    margin-top: 30px;
    grid-area: footer;
    background-color: rgba(0, 0, 0, 0.765);
    color: white;
}

.footer__layout {
    grid-area: footerlayout;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "navleft navright";
    align-items: center;
}

.navigation--left {
    grid-area: navleft;
}

.navigation--right {
    grid-area: navright;
}

@media screen and (max-width: 768px) {
    .body {
        grid-template-columns: max(768px);
        grid-template-rows: 50px auto;
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }

    .header {
        grid-template-columns: 1fr;
        grid-template-areas:
        "navigation";
    }

    .navigation--header {
        grid-template-columns: 1fr;
    }

    .navigation__logo {
        justify-self: center;
    }

    .header--list {
        display: none;
    }

    .main {
        padding: 0 10px;
    }

    .section__images-container {
        grid-template-columns: 1fr;
    }

    .section__form {
        width: 100%;
    }

    .footer {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "footerlayout";
    }

    .footer__layout {
        padding: 0 10px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "navleft"
        "navright";
    }
}