* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgba(183, 179, 174, 0.331);
}

.section:after {
    content: "";
    position: absolute;
    top: 10%;
    left: 50%;
    height: 70%;
    transform: translatex(-50%);
    z-index: 10;
    border-left: 2px solid rgba(128, 128, 128);
}

.section__container {
    min-width: 150px;
    max-width: 400px;
    display: flex;
    align-items: center;
    text-align: end;
    gap: 20px;
    position: absolute;
    z-index: 20;
}

.section__container:nth-child(odd):not(:last-child) {
    right: calc(50% - 52px);
}

.section__container:nth-child(even):not(:last-child) {
    flex-direction: row-reverse;
    text-align: start;
    left: calc(50% - 52px);
}

.container--one {
    top: 1%;
}

.container--two {
    top: 21%;
}

.container--three {
    top: 41%;
}

.container--four {
    top: 61%;
}

.last-image {
    position: absolute;
    top: 82%;
    left: calc(50% - 50px);
}

.section__container-content {
    flex: 3;
}

.section__container-date,
.section__container-heading {
    margin: 10px;
}

.section__container-paragraph {
    font-size: small;
    color: grey;
}

.section__image-wrapper {
    width: 104px;
    height: 104px;
    background-color: rgba(128, 128, 128);
    border-radius: 50%;
    position: relative;
}

.section__container-image {
    object-fit: cover;
}

.section__container-image,
.section__last-image {
    width: 92%;
    height: 92%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section__last-image {
    background-color: rgb(255, 179, 0);
    position: relative;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.last--image {
    position: absolute;
    top: 80%;
    right: calc(50% - 52px);
    z-index: 20;
}

.section__last-image-text {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: white;
}

